extends ../layouts/adminLayout

block content
	form(action='', method='POST', role='form', enctype="multipart/form-data")
		.form-group
			label(for='') Loại Sản Phẩm
			select.form-control(name = 'category_id')
				option(value='0', selected='') All Snippets
				each cate in categories
					option(value= cate._id.toString())= cate.name
		.form-group
			label(for='') Tên Sản Phẩm
			input.form-control(type='text', id='',name = 'name', placeholder='Input field')
		.form-group
			label(for='') Mô Tả
			input.form-control(type='text', id='',name = 'description' ,placeholder='Input field')
		.form-group
			label(for='') Gía
			input.form-control(type='number', id='', name = 'price',placeholder='Input field')
		.form-group
			label(for='') Đơn vị tính
			input.form-control(type='text', id='', name = 'unit',placeholder='Input field')
		.form-group
			label(for='') Ảnh
			input.form-control-file(type='file', id='',name = 'avatar', placeholder='Input field' multiple)
		
		button.btn.btn-primary(type='submit') Thêm Mới
