extends ../layouts/adminLayout

block content
	form(action='', method='POST', role='form', enctype="multipart/form-data")
		.form-group
			label(for='') Category Name
			input.form-control(type='text',name='name' id='', placeholder='Input field')
		.form-group
			label(for='') Description
			input.form-control(type='text', id='',name = 'description' placeholder='Input field')
		.form-group
			label(for='') Imgage
			input.form-control-file(type='file', name = 'avatar', id='', placeholder='Input field')
		
		button.btn.btn-primary(type='submit') Create
