html
	head
		link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
		link(rel="stylesheet", href="/styles/admin/admin.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css", integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns", crossorigin="anonymous")
	body
		// ---- Include the above in your HEAD tag --------
		nav.navbar.navbar-default.navbar-static-top
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.navbar-toggle-sidebar.collapsed.button-menu(type='button')
						| MENU
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#')
						| Administrator
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					form.navbar-form.navbar-left(method='GET', role='search')
						.form-group
							input.form-control(type='text', name='q', placeholder='Search')
						button.btn.btn-default(type='submit')
							i.glyphicon.glyphicon-search
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/home', target='_blank') Visit Site
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')= user.username
								span.caret
							ul.dropdown-menu(role='menu')
								li.dropdown-header SETTINGS
								li
									a(href='#') Other Link
								li
									a(href='#') Other Link
								li
									a(href='#') Other Link
								li.divider
								li
									a(href='/admin/logout') Logout
				// /.navbar-collapse
				// /.container-fluid
		.container-fluid.main-container
			.row
				.col-md-2.sidebar
					// uncomment code for absolute positioning tweek see top comment in css
					
					// Menu
					.side-menu
						nav.navbar.navbar-default(role='navigation')
							// Main Menu
							.side-menu-container
								ul.nav.navbar-nav
									li.active
										a(href='#')
											span.glyphicon.glyphicon-dashboard
											|  Dashboard
									li#dropdown.panel.panel-default
										a(data-toggle='collapse', href='#dropdown-users')
											span.glyphicon.glyphicon-user
											|  User 
											span.caret
										// Dropdown level 1
										#dropdown-users.panel-collapse.collapse
											.panel-body
												ul.nav.navbar-nav
													li
														a(href='/admin/users/list_users') List Users
													li
														a(href='/admin/users/create_user') Create User
									// Dropdown
									li#dropdown.panel.panel-default
										a(data-toggle='collapse', href='#dropdown-catelogies')
											span.glyphicon.glyphicon-list-alt
											|  Loại Sản Phẩm 
											span.caret
										// Dropdown level 1
										#dropdown-catelogies.panel-collapse.collapse
											.panel-body
												ul.nav.navbar-nav
													li
														a(href='/admin/categories/list_categories') Danh Sách
													li
														a(href='/admin/categories/create_category') Thêm Mới
									// Dropdown
									li#dropdown.panel.panel-default
										a(data-toggle='collapse', href='#dropdown-product')
											span.glyphicon.glyphicon-th-large
											|  Sản Phẩm 
											span.caret
										// Dropdown level 1
										#dropdown-product.panel-collapse.collapse
											.panel-body
												ul.nav.navbar-nav
													li
														a(href='/admin/products/list_products') Danh Sách
													li
														a(href='/admin/products/create_product') Thêm Mới
									// Dropdown
									li#dropdown.panel.panel-default
										a(data-toggle='collapse', href='#dropdown-new')
											span.glyphicon.glyphicon-signal
											|  Tin tức
											span.caret
										#dropdown-new.panel-collapse.collapse
											.panel-body
												ul.nav.navbar-nav
													li
														a(href='/admin/news/list_news') Danh Sách
													li
														a(href='/admin/news/create_new') Thêm Mới
							// /.navbar-collapse
				.col-md-10.content-page
					block content
		footer.pull-left.footer
			p.col-md-12
			hr.divider
			|   				Copyright © 2015 
			a(href='http://www.pingpong-labs.com') Gravitano
			p
		script(src='http://code.jquery.com/jquery-1.9.1.min.js', integrity='sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=', crossorigin='anonymous')
				script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
		script(src='/js/admin.js')