extends ../layouts/common

block content
	main
		.banner(style='background-image: url(./img/banner.png);')
		.container
			.pr-title
				.pr-left
					a(href='') Trái cây đặc biệt
				.pr-right
					a(href='')
						| Xem thêm
						i.fas.fa-angle-double-right
		.products
			.container
				.row
					.col-sm-6.col-md-3.product
						.product-item
							.product-img
								img.img-responsive(src='./img/1.png', alt='Image')
								.product-overlay
									a.btn.btn-danger(href='/products-detail.html', type='button') Đặt mua
							.product-content
								p Thăng long ruột đỏ
	