*{
  font-family: 'Roboto', sans-serif;
}

.pagination li a:hover {
    cursor: pointer;
}

ul.pagination.hidden-xs.pull-right {
    margin: 0;
    padding: 15px;
}

div#products {
    text-align: center;
}

.filter h5 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.1em;
}

.filter-title h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
}

.filter-content .col-md-3 {
    height: 100%;
}

li.filter-price-item {
    margin-bottom: 1em;
}

li.filter-cate-item {
    margin-bottom: 1em;
}

i.fa.fa-search {
    color: #ffff;
}

.filter-search a.btn.btn-default {
    border: none;
    margin-top: 1px;
    height: 2em;
    border-color: #ff9d04;
    border-radius: 0;
    background: #ff9d04;
}

input[name="filter-search"] {
    border: 1px solid #ddd;
    border-right: none;
    padding-left: .5em;
    height: 2em;
}

input[name="filter-search"]:focus {
    outline-color: #ddd;
}

.filter-price {
    padding: 1.2em;
}

.filter-price ul::-webkit-scrollbar, .filter-categories ul::-webkit-scrollbar {
    background: #ffff;
    width: 4px;
}

.filter-price ul::-webkit-scrollbar-track,.filter-categories ul::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0,0,0,.3);
}

.filter-price ul::-webkit-scrollbar-thumb,.filter-categories ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background: #ccc;
    border-radius: 10px;
}


.filter-categories {
    border-bottom: 1px solid #ff9d04;
    padding: 1.2em;
}

.filter-search {
    border-bottom: 1px solid #ff9d04;
    padding: 1.2em;
}

.filter-title {
    border-bottom: 1px solid #ff9d04;
    padding: 1.2em;
}

.filter-content .col-md-9 {
    padding: 0;
}

.filter-bar {
    background: #fbfbfb;
    /* border: 1px solid #dddd; */
    /* padding: 1.2rem; */
    height: 100%;
    border-radius: 3px;
}

.sort-product {
    flex-grow: 2;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.products-title {
    margin-bottom: 2em;
    display: flex;
    margin-top: 1em;
}

.products-title h4 {
    text-transform: uppercase;
    margin: 0;
    /* flex-grow: 2; */
    /* display: inline-block; */
    font-weight: bold;
}

.col-md-9.filter-products {
    padding: 0;
}

label {
    font-weight: 500;
    cursor: pointer;
}

label:hover {
    color: #ff9d04;
}

i.fas.fa-check-square {
    margin-right: .5em;
    color: #ff9d04;
    display: none;
}

i.far.fa-square {
    margin-right: .8em;
}

i.fas.fa-square i.fas.fa-check {
    font-size: 1.1rem;
    top: 50%;
    position: absolute;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-51%);
}

.fas.fa-square i.fas-fa-check {
    position: absolute;
    color: #fff;
}

i.fas.fa-square {
    color: red;
    margin-right: .5em;
    position: relative;
    display: none;
}

.fa-check:before {/* font-style: normal; *//* font-family: FontAwesome; *//* font-size: 1.2em; *//* content: "\f096"; *//* font-weight: normal; *//* text-decoration: inherit; */}

ul.group-filter-cate {
    height: 150px;
    list-style: none;
    overflow-y: scroll;
}

input[name ="filter-cate"] {
    display: none;
}

input[name ="filter-cate"]:checked + label i.fas.fa-check-square, input[name ="filter-price"]:checked + label i.fas.fa-check-square {
    margin-right: .8em;
    display: inline-block;
}

input[name ="filter-cate"]:checked + label i.far.fa-square, input[name ="filter-price"]:checked + label i.far.fa-square {
    display: none;
}

/*input[name ="filter-cate"]:checked + label i.fas.fa-square, input[name ="filter-price"]:checked + label i.fas.fa-square {
    display: inline-block;
}

input[name ="filter-cate"]:checked + label i.far.fa-square,input[name ="filter-price"]:checked + label i.far.fa-square {
    display: none;
}*/

input[name = "filter-price"] {
    display: none;
}

ul.group-filter-price {
    height: 150px;
    list-style: none;
    overflow-y: scroll;
}

li.filter-price-item {}

.filter-content {
    margin-bottom: 3em;
}

.col-md-3.filter-bar {
    border: 1px solid #ddd;
    /* background: #e9efe9; */
    height: 100%;
    border-radius: 3px;
}

span.total {
    color: tomato;
    font-weight: bold;
}

li.categories {
    position: relative;
}

ul.categories a {
    font-size: 1em;
    text-decoration: none;
    color: #646464;
    font-weight: bold;
}

ul.categories a:hover {
    color: blue;
}

ul.categories {
    z-index: 99;
    display: none;
    /* bottom: -45px; */
    /* border: 1px solid #ddd; */
    position: absolute;
    background: #fff;
    width: 15em;
    list-style: none;
    /* padding: 1rem; */
    /* border-radius: 3px; */
}

ul.categories:before {
    top: -10px;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    /* background: red; */
    border-bottom: 11px solid #fff;
    width: 0;
    height: 0;
    left: 25%;
}

ul.categories li {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.news-img img {
    width: 252px;
    height: 100%;
}

.news-item {
    height: 168px;
}

.news-img {
    width: 252px;
}

i.far.fa-user-circle {}

li.info-user-item {
    padding: 1rem;
}

li.info-user-item a {
    color: #333;
    text-decoration: none;
}

li.info-user-item a:hover {
    color: #6fbd1b;
}

button.btn.btn-default.logout-user {
    border: none;
}

button.btn.btn-default.info-user {
    margin-right: 3rem;
    border-radius: 1;
    border: none;
}

button.btn.btn-default.info-user {}

.info-button {
    display: flex;
}

li.user-custom {
    cursor: pointer;
}

ul.focus-user.active {
    flex-direction: column;
    box-shadow: 0 2px 4px 0px rgb(0,0,0,.3);
    /* border-radius: 3px; */
    /* text-align: center; */
    background: #fff;
    display: flex;
    right: -68px;
    position: absolute;
    /* display: inline-block; */
    /* padding: 1rem; */
    width: 15rem;
}

ul.focus-user {
    list-style: none;
}

li.info-user-item i {
    color: #333;
    margin-right: 1.5rem;
    /* margin-left: 1rem; */
}

ul.focus-user:before {
    top: -5px;
    background: #fff;
    width: 1rem;
    content: "";
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    left: 51px;
}

.focus-user {
    display: none;
}

li.user-custom {
    position: relative;
    /* flex-direction: column; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

img.avatar-user {
    margin-bottom: 2rem;
    margin-top: 0.5em;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

i.fas.fa-angle-double-right {
}

.path-index span {
    color: #333;
    font-size: 1.4rem;
    margin-right: 6px;
    margin-left: 0px;
}

.path-index a:hover {
    color: #001fff;
    text-decoration: none;
}

.path-index a {
    color: #333;
    font-size: 1.4rem;
}

.path-index {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

main.mt-3 {
    margin-top: 20px;
}
.body{
  text-shadow: 1px 1px 1px rgb(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
}
.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 88px;
}
.pr-title{
  margin-bottom: 40px;
}

.news-item:first-child{
  margin-bottom: 16px;
}

.brand{
  margin-bottom: 50px;
}

.news-product{
  margin-bottom: 50px;
}

.carousel-inner .item:after{
  position: absolute;
  top: 0;
  left:0;
  content: '';
  height: 100%;
  width: 100%;
background: linear-gradient(0deg, rgba(40,40,43,1) 0%, rgba(78,78,80,0.37298669467787116) 37%, rgba(182,178,178,1) 100%);
}

.item .item-caption{
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  
}

.footer-about{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ebebeb;

}

.us-title{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.us-title p{
  margin: 0;

  flex-basis: 180px;
  font-size: 16px;
  font-weight: 600; 
}

.us-title .title-ngang{

  width: 100%;
  margin:0;
  border-color: #CCC;
}

.about-content ul{
  padding: 0px 0px 0px 10px;
}
.about-content ul li{
  margin-bottom: 20px;
  list-style: none;
}

.about-content ul li a:hover{
  color: blue;
  text-decoration: none;
}


.about-content ul li a{
  color: #333;
}

.about-content ul li a i{
  margin-right: 10px;
}

.us-about iframe{
  border: 1px solid #CCC;
  height: 175px;
}

.copy-right{
  height: 50px;
  background: #6fbd1b;
}


.copy-right p{
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
}

.copy-right span{
  font-size: 14px;
  text-transform: uppercase;
}

.copy-content{
  display: inline-block;
}
 .wsalert{
    display:none;
  }
  .wsalert.ok {
    display:block;
  }
/*.tonhat{
  overflow-y : auto;
  overflow-x: hidden;
  height: 100vh;
  width : 100%;
  top:0;
  left:0;
  position:fixed;
  background: rgb(0,0,0,0.5);
  z-index : 1050;
}
.stop-class{
  height: 100%;
  overflow: hidden;
}
.frm-login{
  height : 500px;
  max-width: 500px;
  background : red;
  margin : 2rem auto;
}
*/


.news-item:first-child{
  margin-bottom: 20px;
}

.brand{
  margin-bottom: 50px;
}

.news-product{
  margin-bottom: 50px;
}

.carousel-inner .item:after{
  position: absolute;
  top: 0;
  left:0;
  content: '';
  height: 100%;
  width: 100%;
background: linear-gradient(0deg, rgba(40,40,43,1) 0%, rgba(78,78,80,0.37298669467787116) 37%, rgba(182,178,178,1) 100%);
}

.item .item-caption{
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  
}

.footer-about{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ebebeb;

}

.us-title{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.us-title p{
  margin: 0;

  flex-basis: 180px;
  font-size: 16px;
  font-weight: 600; 
}

.us-title .title-ngang{

  width: 100%;
  margin:0;
  border-color: #CCC;
}

.about-content ul{
  padding: 0px 0px 0px 10px;
}
.about-content ul li{
  margin-bottom: 20px;
  list-style: none;
}

.about-content ul li a:hover{
  color: blue;
  text-decoration: none;
}


.about-content ul li a{
  color: #333;
}

.about-content ul li a i{
  margin-right: 10px;
}

.us-about iframe{
  border: 1px solid #CCC;
  height: 175px;
}

.copy-right{
  height: 50px;
  background: #6fbd1b;
}


.copy-right p{
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
}

.copy-right span{
  font-size: 14px;
  text-transform: uppercase;
}

.copy-content{
  display: inline-block;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook {
  /* margin: auto; */
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #ddd;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}