*{}

p.name {
    margin-bottom: 2em;
    /* font-size: 1em; */
}

p.price {
    font-weight: bold;
    text-transform: lowercase;
    color: tomato;
    font-size: 1em;
}


.product-item:hover .product-overlay a.btn.btn-danger {
    transform: scale(1,1);
   
}

.product-overlay a.btn.btn-danger {

    border: none;
    border-radius: 0;
    padding: 8px 18px;
    transform: scale(0.8);
    transition: all 0.5s;
    text-transform: uppercase;
}


.product-item{
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);
    padding: .5rem;
    /* transition: 200ms; */
    margin-bottom: 2em;
    border: 1px solid #EEE;
    /* overflow: hidden; */
}

.product-item:hover{
    /* transform: translate(0px, -10px); */
    box-shadow: 0px 2px 8px rgb(0, 0, 0 ,0.3);
}

.product-item:hover .product-img img {
    transform: scale(1.1,1.1);
}

.product-item:hover .product-overlay {
    
    opacity: 1;
}

.product-content {
    /* padding: 0 .5em; */
    color: #646464;
    margin-bottom: 1em;
    /* color: #333; */
    text-align: center;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.product-overlay {
    transition: all 0.5s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background: rgb(0, 0 ,0 , 0.5);
    top: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
}

.product-img {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 200px;
}

.product-img img {
     transition: all .5s;
     object-position: center;
     width: 100%;
     height: 100%;
     object-fit: cover;
}
 